

* {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    
    padding: 8px;
    text-align: left;
    min-width: 80px;
    width: max-content;
  }

  td {
    padding: 5px 8px 20px;
    border-radius: 3px;
    border: none;
  }
  
    
  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
  }

  .btn-azul {
    background-color: rgb(0, 128, 255);
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-right: 8px;
  }

  .btn-azul:hover,.btn-adicionar:hover {
    background-color: white;
    color: rgb(0, 128, 255);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.315);
  }

  .btn-vermelho {
    background-color: rgba(255, 0, 0, 0.848);
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-right: 8px;
  }

  .btn-vermelho:hover {
    background-color: white;
    color:rgba(255, 0, 0, 0.848);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.315);
  }
  
  .btn-adicionar {
    background-color: rgb(0, 128, 255);
    padding: 10px;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-right: 8px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.315);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }

  thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.773);
  }

  @media (max-width: 570px){
     .btn-azul,.btn-vermelho{
      padding: 6px;
    }
  }


  
  
  
  